.dashboard_container{
    height: 98vh;
    width: 100%;
}

.sidebar_container{
    width: 280px;
    height: 100%;
    background-color: white;
    border-radius: 0px 10px 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
}   

.sidebar_innner_container{
    width: 275px;
    height: 99%;
    background-color: rgb(44, 44, 44);
    border-radius: 0px 10px 10px 0px;
    display: flex;
    flex-direction: column;
}

.files_container{
    margin-left: 280px;
    display: flex;
    flex-wrap: wrap;
}

.buttons{
  height: 80px;
  margin: 10px;
  font-size: 20px;
  font-weight: 600;
}
.path{
    margin-left: 300px;
}
.folderDiv{
    height: 150px;
    width: 172px;
    background-color: #3f3e3e;
    margin: 5px;
    border-radius: 15px;
    position: relative;
}
.OptionsDiv{
    position: absolute;
    right: 5px;
    bottom: 3px;
    cursor: pointer;

}
.OptionsDiv:hover{
    color: #a8a8a8;
}